# Google Cloud credentials
GOOGLE_APPLICATION_CREDENTIALS=credentials/gcs_service_account.json
GCP_PROJECT=theta-carving-486822-c0
GCS_BUCKET=de-dota2

# Kaggle API credentials (alternatively configure via ~/.kaggle/kaggle.json)
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_api_key
